:root {
  --primary-color: #C2DFE3;
  --primary-font-color: #253237;
  --secondary-color: #5C6B73;
  --secondary-font-color: #E0FBFC;

  --font-color: #D5E6FF;
  --bg-color: #253237;
  --heading-color: #E0FBFC;
}

* {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0% 3%;
  padding: 0% 4%;
  
  color: var(--font-color);
}

.header {
  text-align: center;
  color: var(--heading-color);
}

.image {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100% 100%;
  justify-content: center;
  width: 100px;
  height: auto;
  object-fit: contain;
  border: 5px solid #E0FBFC;
border-radius: 50%;
}

.description {
  text-align: center;
  font-size: 1.5vw;
  text-align: justify;
  text-justify: inter-word;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  
  
}

.buttons a {
  height: 40px;
  border: 0px;
  border-radius: 30px;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

  
}

a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  
  
  
}

.linkedin {
  background: var(--primary-color);
  color: var(--primary-font-color);
  padding:0 20px;
  
}

.works,
.email,
.website {
  background: var(--secondary-color);
  color: var(--secondary-font-color);
  padding:0 20px;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 3vh;
  margin: 2% 0;
}

.socialMedia button {
  background: none;
  border: none;
}

.socialMedia a {
  fill: var(--secondary-font-color);
}

/* Responsive styles */

/* Mobile */
@media only screen and (max-width: 600px) {
  .content {
    height: 95vh;
  }

  .buttons {
    height: auto;
  }
  .buttons a{
    margin: 5px 0px;
    font-size: 14px;
  }
  img {
    max-width: 150px;
    width: 40vw;
    height: auto;
  }
  .description {
    font-size: 14px;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .content {
    height: 100vh;
  }

  .buttons {
    height: 200px;
    justify-content: space-evenly;
  }
  


  img {
    max-width: 200px;
    width: 50vw;
    height: auto;
  }

  .description {
    font-size: 16px;
  }
}

/* Desktop testeando */
@media only screen and (min-width: 901px) {
  .content {
    height: 100vh;
    
  }

  .buttons {
    height: 200px;
    justify-content: space-between;
  }
  
  img {
    max-width: 200px;
    width: 40vw;
    height: auto;
  }
}
